Webpack (imports/exports)
    Babel
    SCSS
    ESLint
    2 Modes
     - Dev
       Dev Server, SourceMaps, ESLint, Not minified JS & CSS
     - Prod
       Minified Code
Git

    Production
      1.0.0
    Development
      1.0.2